body {
    border: 3px solid rgb(52, 49, 49);
    margin: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.cv-container{
    max-width: 700px;
    margin: 100px auto;
    padding: 4em;
    border-top: 3px solid rgb(52, 49, 49);
}

h1 {
    margin-top: -20px;
    font-size: 32px;
}

h2{
    font-size: 24px;
    color: rgb(70, 157, 70);
}

h3 {
    color:rgb(75, 149, 240);
    font-size: 20px;
}

.link {
    
}
.links a {
    background-color: #a5bfff;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
   
}


.links a:hover {
    background: #2563eb;
    color: #fff;
    box-shadow: 0 2px 8px #2563eb33;
}

.omerbv {
    display: inline;
}
